@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    user-select: none;
    overflow: hidden;
}

html {
    background: rgba(0, 0, 0, 0.01);

}

body {
    width: 100vw;
    margin: 0;
    height: 100vh;
    background-color: var(--background);
    color: var(--text-color);
    border: solid 1px var(--accent-inline, var(--accent));
    box-sizing: border-box;
    border-radius: var(--window-border-radius) 0px var(--window-border-radius) var(--window-border-radius);


    #navbar {
        width: 100%;
        height: 30px;
        background: var(--navbar-color);
        -webkit-app-region: drag;
        display: flex;

        color: var(--navbar-text-color);

        .icon {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            img {
                width: 15px;
            }

            /*
            write function to take hex color and... IM NOT GONNA FINISH THAT BS
            */


        }

        .title {
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            box-sizing: border-box;
            font-weight: 500;
        }

        .version {
            display: flex;
            align-items: center;
            justify-content: center;


            span {
                background-color: var(--accent-inline, var(--accent));
                ;
                border-radius: 10px;
                padding: 3px 10px;
                box-sizing: border-box;
                color: var(--color-on-accent);
                font-weight: 700;
            }
        }
    }

    #banner {
        width: 100%;
        height: 50px;
        padding: 10px 10px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        overflow: hidden;
        color: var(--title-bar-text-color);
        background: var(--title-bar-color);

        .landing-text {
            width: 35%;
            font-size: 30px;
            font-weight: 700;

            * {
                font-size: 30px;
            }
        }

        .options {
            width: 65%;
            height: 100%;
            display: flex;
            align-items: center;
            font-weight: 500;
            position: relative;


            img {
                height: 50px;
                width: 50px;
            }

            input[type=text] {
                outline: none;
                border: none;
                height: 50px;
                width: calc(100% - 100px);
                background: var(--search-bar-color);
                color: var(--search-bar-text-color);
                padding: 0px 10px;
            }

            svg {
                path {
                    fill: var(--search-bar-icon-color);
                }
            }

            .filter {
                width: 60px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: end;

                .dropdown {
                    width: 60px;
                    height: 120px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: none;

                    .dropdown-options {
                        width: 60px;
                        margin-top: 60px;
                        background-color: red;
                    }
                }
            }

            .filter:hover .dropdown {
                display: block;
            }
        }
    }

    #inner {
        width: 100%;
        height: calc(100% - 110px);
        background-color: var(--foreground);
        display: flex;

        .file {
            width: 35%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            background: var(--file-color);

            color: var(--file-text-color);

            .text {
                text-align: center;
                height: fit-content;

                input[type="file"] {
                    display: none;

                }

                .custom-file-upload {
                    display: inline-block;
                    cursor: pointer;
                    margin: 0;
                    padding: 0;
                    color: var(--accent-inline, var(--accent));
                    ;
                }

                p {
                    margin: 0px;
                    opacity: 0.5;
                }
            }

            .cover {
                width: 100%;
                height: 100%;

                .item {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    padding: 7px 20px 7px 0px;
                    box-sizing: border-box;
                    border-bottom: solid 1px var(--background);

                    .title {
                        width: calc(100% - 26px);
                        height: 100%;

                    }

                    .exit {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .checkbox {
                            width: 13px;
                            height: 13px;
                            border: solid 1px red;
                            margin-right: 20px;
                        }

                    }
                }
            }

        }

        .location {
            width: 65%;
            height: 100%;
            background: var(--location-color);
            color: var(--location-text-color);
        }
    }

    #options {
        width: 100%;
        height: 30px;
        background-color: var(--bottom-bar-color);
        color: var(--bottom-bar-text-color);
        display: flex;
        justify-content: space-between;

        .side {
            margin-left: 10px;
            display: flex;
            align-items: center;

            .text {
                margin-right: 10px;
                font-weight: 700;
            }

            svg {
                margin-right: 20px;

                path {
                    fill: var(--accent-inline, var(--accent));
                    ;
                }
            }

        }

        .landingpagetexttwo {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            opacity: var(--text-inactive-opacity);
        }

    }
}