:root {
    --background: black;
    --foreground: #0e0e0e;
    --text-color: white;
    --text-inactive-opacity: 0.5;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    font-size: 13px;


}


body {
    width: 100vw;
    margin: 0;
    height: 100vh;
    background-color: var(--background);
    border: solid 1px var(--accent);
    box-sizing: border-box;

    #navbar {
        width: 100%;
        height: 30px;
        background: var(--background);
        -webkit-app-region: drag;
        display: flex;

        .icon {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            img {
                width: 15px;
            }

            /*
            write function to take hex color and... IM NOT GONNA FINISH THAT BS
            */


        }

        .title {
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            box-sizing: border-box;
            font-weight: 600;
        }

        .version {
            display: flex;
            align-items: center;
            justify-content: center;


            span {
                background-color: var(--accent);
                border-radius: 10px;
                padding: 2px 10px;
                box-sizing: border-box;
                color: var(--color-on-accent);
                font-weight: 800;
            }
        }
    }

    #banner {
        width: 100%;
        height: 50px;
        padding: 10px 10px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        overflow: hidden;

        .landing-text {
            width: 35%;
            font-size: 30px;
            font-weight: 700;

            * {
                font-size: 30px;
            }
        }

        .options {
            width: 65%;
            height: 100%;
            display: flex;
            align-items: center;
            font-weight: 500;


            img {
                height: 50px;
                width: 50px;
            }

            input[type=text] {
                outline: none;
                border: none;
                height: 50px;
                width: calc(100% - 100px);
                background: var(--background);
                color: var(--text-color);
                padding: 0px 10px;


            }

            .filter {
                width: 60px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: end;

            }
        }
    }

    #inner {
        width: 100%;
        height: calc(100% - 130px);
        background-color: var(--foreground);
        display: flex;

        .file {
            width: 35%;
            height: 100%;

        }

        .location {
            width: 65%;
            height: 100%;
            background: var(--background);
        }
    }

    #options {
        width: 100%;
        height: 50px;
        background-color: var(--background);
        display: flex;
        justify-content: space-between;

        .side {
            margin-left: 10px;
            display: flex;
            align-items: center;

            .text {
                margin-right: 10px;
                font-weight: 700;
            }

            svg {
                margin-right: 20px;

                path {
                    fill: var(--accent);
                }
            }

        }

        .landingpagetexttwo {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            opacity: var(--text-inactive-opacity);
        }

    }
}